@media(min-width:1000px) {
    .mobile{
        display: none;
    }
}


.heading{
    width: 100%;
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.head-title{
    width: 30%;
    display: flex;
}

.head-title .head-title1{
    padding-top: 0%;
}

.head-title .head-title2 h1{
    font-size: 150%;
    color: rgb(37, 29, 29);
    padding-top: 0%;
}

.head-nav{
    width: 70%;
    font-size: 150%;
    text-align: end;
}

.head-nav ul{
    display: flex;
    font-weight: bold;
}



.head-nav ul li{
    display: inline;
    width: 14%;
    padding-left: 2%;
    padding-right: 2%;
}

.next{
    width: 100%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}


.end{
    width: 90%;
    text-align: left;
    line-height: 150%;
}

.end h3{
    font-size: 200%;
    color: black;
    font-weight: bold;
}

.end p{
    font-size: 120%;
    color: black;
}

.end a{
    color: white;
    text-decoration: none;
    border: 1px white solid;
    border-radius: 25px;
    padding: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 150%;
    margin-top: 3%;
    background-color: blue;
    padding-left: 2%;
    padding-right: 2%;
}


@media(max-width:768px) {
    .desktop{
        display: none;
    }


    .sec{
        width: 100%;
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
      }
      
      
      .last{
        width: 90%;
        text-align: left;
        line-height: 150%;
      }
      
      .last h3{
        font-size: 200%;
        color: black;
        font-weight: bold;
      }
      
      .last p{
        font-size: 120%;
        color: black;
        padding-bottom: 3;
      }
      
      .last a{
        color: white;
        text-decoration: none;
        border: 1px white solid;
        border-radius: 25px;
        padding: 2%;
        padding-top: 1%;
        padding-bottom: 1.5%;
        font-size: 150%;
        margin-top: 3%;
        background-color: blue;
        padding-left: 2%;
        padding-right: 2%;
      }
      

}